html {
	overflow-y: scroll;
}

.selected {
	color: red;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: red;
}
.img-bordered-1 {
	border-style: dashed;
	border-width: 1px;
	border-color: #C0C0C0;
}
.logo-circle-clickable {
	width: 64px;
	height: 64px;
	
}
.hr-small {
	margin-top: 10px;
	margin-bottom: 10px;
}

.spacer {
	padding-top: 1em;
}
