<div class="container">
    <h1>Resume</h1>
    <hr>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn stackable" data-ng-class="currentFilter.category === null ? 'btn-primary active' : 'btn-default'" data-ng-click="setCategory(null)"><span class="fa fa-circle"></span> All</button>
            <button class="btn stackable" data-ng-class="currentFilter.category === 'experience' ? 'btn-primary active' : 'btn-default'" data-ng-click="setCategory('experience')"><span class="fa fa-briefcase"></span> Work Experience</button>
            <button class="btn stackable" data-ng-class="currentFilter.category === 'skills' ? 'btn-primary active' : 'btn-default'" data-ng-click="setCategory('skills')"><span class="fa fa-line-chart"></span> Skills</button>
            <button class="btn stackable" data-ng-class="currentFilter.category === 'education' ? 'btn-primary active' : 'btn-default'" data-ng-click="setCategory('education')"><span class="fa fa-graduation-cap"></span> Education</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div data-ng-repeat-start="category in resume | orderBy: 'order' | filter: categoryFilter">
                <h2 class="resume-section-header">{{ category.name }}</h2>
            </div>
            <div data-ng-repeat="entry in category.entries">
                <div data-resume-detail data-detail="entry"></div>
                <hr data-ng-if="!$last">
            </div>
            <div data-ng-repeat-end>
            </div>
        </div>
    </div>
</div>