
.experience-section {
  background-color: $color-experience-background;
  .experience {
    .date {
      @include span-columns(3);
      text-align: right;
    }
    .length {
      color: $subtle;
    }
    .collapsible {
      @include span-columns(9);
      .title {
        font-size: 1.25rem;

      }
      .text {
        background-color: $color-green-flat-light;
        padding: 1rem;
      }
      background-color: $color-green-flat-dark;
    }
  }
}
