

.projects-section {
  background-color: $color-projects-background;
  color: #bdc3c7;
}

.project {
  @include row();
  margin: 1rem 0;
  .image {
    @include span-columns(4);
    text-align: center;
  }
  .text {
    @include span-columns(8);
  }
  a:active, a:hover, a:focus {
    text-decoration: none;
  }

  @include media($mobile) {
    .image {
      @include span-columns(12);
      text-align: center;
    }
    .text {
      @include span-columns(12);
    }
  }
}

.projects {
}
