

.projects-section {
  background-color: $color-projects-background;
  color: #bdc3c7;
}

.project-listing {
  @include row();
  margin: 1rem 0;
  .image {
    @include span-columns(4);
    text-align: center;
  }
  .text {
    @include span-columns(8);
  }
  a:active, a:hover, a:focus {
    text-decoration: none;
  }

  @include media($mobile) {
    .image {
      @include span-columns(12);
      text-align: center;
    }
    .text {
      @include span-columns(12);
    }
  }
}

.project-show {
}

  .badge {
    border: 1px solid $color-light-grey;
    font-size: 0.8rem;
    border-radius: 15px;
    padding: 0.1rem 0.5rem;
    margin: 0.2rem 0.2rem;
    display: inline-block;
    color: white;
    background-color: $color-medium-grey;
  }

  .badge-personal {
    background-color: $color-vibrant-orange;
  }

  .badge-production {
    background-color: $color-vibrant-green;
  }

  .badge-cancelled {
    background-color: $color-vibrant-red;
  }

  .badge-school {
    background-color: $color-vibrant-blue;
  }

  .badge-completed {
    background-color: $color-vibrant-green;
  }

  .badge-language {
    background-color: $color-vibrant-green;
  }

  .badge-framework {
    background-color: $color-vibrant-red;
  }

  .badge-white {
    background-color: white;
    color: $color-medium-grey;
  }
