.skills-section {
  background-color: $color-skills-background;
  .tech-skills {
    @include span-columns(6);

    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .soft-skills {
    @include span-columns(6);

    @include media($mobile) {
      @include span-columns(12);
    }
    @include omega;
  }

  .skill {
    cursor: pointer;
    .subtext {
      color: $subtle;
      float: right;
    }

    .description {
      margin-top: -1rem;
      padding: 0 1rem 1rem 0;
      border-top: 1px $color-white-flat-dark solid;
      background-color: $color-skills-description-background;
      margin-bottom: 1rem;
    }
  }
}

.skill:hover {
  .progress-bar {
    .progress {
      background-color: #C0392B;
    }
    background-color: $color-white-flat-dark;
    transition: all 0.2s;
  }
}


.progress-bar {
  margin-bottom: 0.75rem;
  background-color: $color-white-flat-light;
  width: 100%;
  cursor: pointer;
  .progress {
    background-color: $color-red-flat-light;
  }

  @for $i from 1 through 100 {
    @if $i%5 == 0 {
      .progress-#{$i} {
        transition: all 0.2s;
        width: #{$i}% !important;
      }
    }
  }
}
