--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | ToDoList
active: projects
header: Joseph Gefroh
caption: gets stuff done.
---

<div class="container marketing">
    
    {% include project_info.html name="ToDoList" status="Active" date="2014" %}
    
    <span class="label label-success">HTML</span>
    <span class="label label-success">CSS</span>
    <span class="label label-success">Javascript</span>
    <span class="label label-danger">AngularJS</span>
    <span class="label label-danger">Bootstrap</span>
	
	<br />
    <br />

    {% include carousel_start.html id="screenshots" numadditionalslides="3" %}
    {% include carousel_item.html imgsrc="images/project-todolist-1.png" isactive="active" %}
    {% include carousel_item.html imgsrc="images/project-todolist-2.png" %}
    {% include carousel_item.html imgsrc="images/project-todolist-3.png" %}
    {% include carousel_item.html imgsrc="images/project-todolist-4.png" %}
    {% include carousel_end.html  id="screenshots" numslides="4"%}

    <hr class="hr-small">
    <div class="row">
        {% include link_github.html link="https://www.github.com/jgefroh/todolist" %}
        {% include link_internal.html link="http://www.todolist.jgefroh.com/" %}
    </div>
	<hr class="hr-small">
            <p>
                I'm making a To Do List to learn about web application development with AngularJS. I chose a To Do List so that I could keep track of the hours I spent
                on a task while at work and fill out my timesheet more easily. The application's codebase is gradually improving as I learn about AngularJS and its best practices and coding styles.
            </p>
</div>