--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | IMCS
active: projects
header: Joseph Gefroh
caption: facilitates communication.
---

<div class="container marketing">
    
    {% include project_info.html name="IMCS - Instant Messaging Client and Server" status="Finished" date="2012" %}
    
    <span class="label label-success">Python</span>
    <span class="label label-success">XML</span>
	
	<br />
    <br />
    
    {% include carousel_start.html id="screenshots" numadditionalslides="2" %}
    {% include carousel_item.html imgsrc="images/project-imcs-1.png" isactive="active" %}
    {% include carousel_item.html imgsrc="images/project-imcs-2.png" %}
    {% include carousel_item.html imgsrc="images/project-imcs-3.png" %}
    {% include carousel_end.html  id="screenshots" numslides="3"%}

    <hr class="hr-small">
    <div class="row">
        {% include link_github.html link="https://www.github.com/jgefroh/imcs" %}
    </div>
	<hr class="hr-small">
            <p>IMCS was an instant messaging client and server that I
            wrote as a class project for three separate classes: 
            Data Communications, Python, and Modern Programming Practices. Don't
            worry, I had permission!</p>
            
            <p>It uses Python's socket interface to send packets via TCP. The
            information was pure text with a specific command or tag at the
            beginning. The tag determined how the message would be processed
            by the server. For example, if I typed in "/MSG Hello everyone", 
            the server would process the message as something to be displayed 
            to other users. If I typed in "/NICK Hello everyone", the server
            would change my displayed nickname to "Hello" and use the password
            "everyone" as verification.</p>
            
            <p>
            Developing this application was a great learning experience. Each
            challenge that was overcome posed even more challenges. Development showed that
            Python's TCP sockets were unable to determine when a new
            message had arrived and what was part of the old message, thanks to
            TCP's non-guaranteed arrival order for packets. To resolve this,
            message sizes were added to the protocol. Other issues appeared, such
            as blocking sockets preventing new connections (resolved with
            threading and welcome sockets), console output overlapping input lines
            (resolved with back/forward ASCII codes), memory leaks (resolved with
            disconnect handlers), and concurrent modification of shared memory
            (resolved via synchronization, locks, and copies).
            </p>
            
            <p>The end result was a cool program and a lot of knowledge gained!</p>
</div>