--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | Core
active: projects
header: Joseph Gefroh
caption: learns how to make games by making them.
---

<div class="container marketing">
    {% include project_info.html name="Core" status="In Development" date="May 2013" %}
    
    <span class="label label-success">Java</span>
    
    <br />
    <br />

    {% include carousel_start.html id="screenshots" numadditionalslides="1" %}
    {% include carousel_item.html imgsrc="images/project-core-1.png" isactive="active" %}
    {% include carousel_item.html imgsrc="images/project-core-2.png" %}
    {% include carousel_end.html  id="screenshots" numslides="2"%}
    
    <hr class="hr-small">
    
    <div class="row">
    {% include link_github.html link="https://github.com/JGefroh/core" %}
    </div>
    
    <hr class="hr-small">
    	
	<p>Core is a framework I am developing to assist me in making games.
	It is a "component-based" entity system, which scraps traditional 
	object oriented hierarchies in favor of composition, which defines 
	entities through their component makeup.
	</p>
	
	<p>These components are accessed and their data manipulated by
	a sequence of systems during the game loop. Core is at the center
	of this and acts as the mediator and controller powering these systems
	and exchanges.</p>
	
	<p>There is still a long ways to go and there are many refinements to make,
	but I've enjoyed working on the framework. It has been a great 
	learning experience!
	</p>
</div>