--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | 3D Models
active: projects
header: Joseph Gefroh
caption: sees in 3D.
---

<div class="container marketing">
    
    {% include project_info.html name="3D Models" status="Inactive" date="2012" %}
    
    <span class="label label-danger">Blender</span>
	
	<br />
    <br />
	
	{% include carousel_start.html id="screenshots" numadditionalslides="5" %}
    {% include carousel_item.html imgsrc="images/project-3dmisc-1.png" isactive="active" %}
    {% include carousel_item.html imgsrc="images/project-3dknife-1.png"%}
    {% include carousel_item.html imgsrc="images/project-3dship-1.png" %}
    {% include carousel_item.html imgsrc="images/project-3dm16-1.png" %}
    {% include carousel_item.html imgsrc="images/project-3dbearings-1.png" %}
    {% include carousel_item.html imgsrc="images/project-3dcar-1.png" %}
    {% include carousel_end.html  id="screenshots" numslides="6"%}

	<hr class="hr-small">
	     <p>One of my interests is 3D modeling. I never really put in the time
	     and effort to get good at it, but I did play around with Blender
	     at one point to see what it was like. Although my models are very basic
	     and amateurish, I still had a lot of fun and will likely try again.
	     </p>
</div>