--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | Shellshock
active: projects
header: Joseph Gefroh
caption: believes turtles are awesome.
---

<div class="container marketing">
    
    {% include project_info.html name="Shellshock" status="Suspended" date="2013" %}
    
    <span class="label label-success">Java</span>
    <span class="label label-info">JSON</span>
    <span class="label label-danger">LWJGL</span>
    <span class="label label-danger">jackson</span>
	
	<br />
    <br />
	
	{% include carousel_start.html id="screenshots" numadditionalslides="0" %}
    {% include carousel_item.html imgsrc="images/project-shellshock-1.png" isactive="active" %}
    {% include carousel_end.html  id="screenshots" numslides="1"%}

	<hr class="hr-small">
	     <p>Shellshock was initially intended to be a 2D side-scrolling shooter.
	     I was developing it to teach myself the LWJGL library as a pet project
	     and thought it would be a good way to learn the nuances of game development.
	     
	     <p>I quickly realized the enormity of the project after a few prototypes, and decided
	     to suspend development of Shellshock until I had the knowledge and skill to create it the
	     way I wanted to. To achieve that knowledge, I decided to create <a href="project-core.html">a framework</a> to assist me in
	     game development. I turned Shellshock into <a href="project-core-va.html">Void Attackers</a> and developed 
	     <a href="project-core-laststand.html">Last Stand</a> as a proof of concept of Core's capabilities.
	     </p>
</div>