--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | RMS
active: projects
header: Joseph Gefroh
caption: is managing records.
---

<div class="container marketing">
    
    {% include project_info.html name="Record Management System (RMS)" status="In Development" date="2014" %}
    
    <span class="label label-success">Java</span>
    <span class="label label-success">HTML</span>
    <span class="label label-success">CSS</span>
    <span class="label label-danger">Google Web Toolkit</span>
    <span class="label label-danger">Bootstrap</span>
    <span class="label label-warning">Activities and Places</span>
    <span class="label label-warning">MVP</span>
    <span class="label label-warning">UiBinder</span>
	
	<br />
    <br />

    {% include carousel_start.html id="screenshots" numadditionalslides="0" %}
    {% include carousel_item.html imgsrc="images/project-rms-1.png" isactive="active" %}
    {% include carousel_end.html  id="screenshots" numslides="1"%}

    <hr class="hr-small">
    <div class="row">
        {% include link_internal.html link="projects/project-rms/index.html" %}
    </div>
	<hr class="hr-small">
            <p class="lead">
                At work I am developing a record management system that is very specific to a problem domain. While I am the architect and programmer, I have little influence over the requirements or GUI design. This can be slightly frustrating sometimes,
                especially when my own vision of the program goes against the proposed design.
            </p>
            <p>
                I decided to take the initiative and develop my own record management system, which I will call RMS. I'm making it completely from scratch the way I want it to be made, without any interference. Let's see how it goes.
            </p>
            
</div>