--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | RMS
active: projects
header: Joseph Gefroh
caption: is managing records.
---

<div class="container marketing">
    
    {% include project_info.html name="Record Management System (RMS)" status="Inactive" date="2014" %}
    
    <span class="label label-success">Java</span>
    <span class="label label-success">HTML</span>
    <span class="label label-success">CSS</span>
    <span class="label label-danger">Google Web Toolkit</span>
    <span class="label label-danger">Bootstrap</span>
    <span class="label label-warning">Activities and Places</span>
    <span class="label label-warning">MVP</span>
    <span class="label label-warning">UiBinder</span>
	
	<br />
    <br />

    {% include carousel_start.html id="screenshots" numadditionalslides="0" %}
    {% include carousel_item.html imgsrc="images/project-rms-1.png" isactive="active" %}
    {% include carousel_end.html  id="screenshots" numslides="1"%}

    <hr class="hr-small">
    <div class="row">
        {% include link_internal.html link="http://www.rms.jgefroh.com/" %}
    </div>
	<hr class="hr-small">
            <p>
                RMS was a quick prototype that tested several approaches to the development of a record management system. It used Boostrap and GWT to create
                a sleek (but rather plain) interface so that various approaches in architecting validation and UI/UX could be tried. I really like the way
                it turned out, and the prototype gave me good ideas on how to approach development of other modules.
            </p>
            
</div>