--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | JGefroh.com
active: projects
header: Joseph Gefroh
caption: needed a website and built it.
---

<div class="container marketing">
    
    {% include project_info.html name="JGefroh.com (2013)" status="Completed" date="2013" %}
    
    <span class="label label-success">X/HTML</span>
    <span class="label label-success">CSS</span>
	
	<br />
    <br />
	
	{% include carousel_start.html id="screenshots" numadditionalslides="1" %}
    {% include carousel_item.html imgsrc="images/project-website-jgefroh-2013-1.png" isactive="active" %}
    {% include carousel_item.html imgsrc="images/project-website-jgefroh-2013-2.png" %}
    {% include carousel_end.html  id="screenshots" numslides="2"%}

    <hr class="hr-small">
    <div class="row">
        {% include link_github.html link="https://www.github.com/jgefroh/jgefroh-website" %}
	    {% include link_internal.html link="projects/project-website-jgefroh-2013/index.html" %}
    </div>
	<hr class="hr-small">
	<p>
            I woke up one morning and thought to myself "I should have a place
            to showcase my projects." I worked to turn that thought into reality
            and now you're reading this on my personal website! This is the first design of the website.
            Unintentionally, it looked great on mobile devices.
            </p>
            
            <p>Some design criteria I had in mind for the initial website included the following:</p>
            <ul>
                <li>A gallery for my projects</li>
                <li>Simple and minimal</li>
                <li>Rapid page loading times</li>
                <li>Compatible with many browsers and window sizes</li>
                <li>Minimal scrolling to view main content</li>
                <li>No Javascript</li>
            </ul>
            <p>
            
            I feel as if I succeeded with these criteria. Do you?
     </p>
</div>