--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | NoID
active: projects
header: Joseph Gefroh
caption: never entered the computer center without his ID.
---

<div class="container marketing">
    
    {% include project_info.html name="NoID" status="Finished" date="2012" %}
    
    <span class="label label-success">Java</span>
	
	<br />
    <br />
	
    {% include carousel_start.html id="screenshots" numadditionalslides="1" %}
    {% include carousel_item.html imgsrc="images/project-noid-1.png" isactive="active" %}
    {% include carousel_item.html imgsrc="images/project-noid-2.png" %}
    {% include carousel_end.html  id="screenshots" numslides="2"%}
    
	<hr class="hr-small">
            <p>NoID is a program that was born out of a business need at
            the university where I used to work. Students were coming into the
            computer center without their IDs and we had to limit their access
            when they reached a certain number of "no ID" entries. Our old
            method was to confirm they were a student, write their information 
            down, and check a spreadsheet file and see how many times they entered.
            We then had to log their information in the spreadsheet, which 
            included their name, id number, the date and time of day, and the 
            number of entries. This was terribly inefficient and would prevent 
            us from helping others or answering helpdesk calls during busy times.
            </p>
            
            <p>NoID allowed us to rapidly see if the student had previously
            entered the computer center without their ID. It automatically tracked
            the date and time so that all we had to do was press a button to 
            increment the number of times they entered. The program also allowed
            us to search by name, id number, and number of entries. NoID
            significantly decreased the amount of time we wasted tracking the 
            information. What used to take a couple of minutes now took less
            than half a minute!
            </p>
            
            <p>Unfortunately, department policies and other decisions prevented
            NoID's deployment. It eventually became obsolete when we stopped
            bothering to track the students due to the significant amount of
            time it took, despite university policies. Oh, well!
            </p>
</div>