--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | Core
active: projects
header: Joseph Gefroh
caption: Pew pew!
---

<div class="container marketing">
    
    {% include project_info.html name="Last Stand" status="Completed" date="June 2013" %}
    
    <span class="label label-success">Java</span>
    <span class="label label-info">JSON</span>
    <span class="label label-danger">Core</span>
    <span class="label label-danger">LWJGL</span>
    <span class="label label-danger">jackson</span>
	
	<br />
    <br />
	
	{% include carousel_start.html id="screenshots" numadditionalslides="1" %}
    {% include carousel_item.html imgsrc="images/project-corels-1.png" isactive="active" %}
    {% include carousel_item.html imgsrc="images/project-corels-2.png" %}
    {% include carousel_end.html  id="screenshots" numslides="2"%}

    <hr class="hr-small">
    
    <div class="row">
    {% include link_github.html link="https://www.github.com/jgefroh/core-last-stand" %}
	</div>
	<hr class="hr-small">
	
	<p>Last Stand is a 2D side scrolling shooter that I made using my <a href="project-core.html">Core</a> framework.</p>
	
	<p>The purpose of the project was to further test the capabilities of Core by creating a more complex game experience. 
	It really helped me improve the framework by showing me several areas where I was able to improve Core's base functionality.</p>
</div>