--- 
layout: pagewithstretchbanner
title: JGefroh | Projects | Void Attackers
active: projects
header: Joseph Gefroh
caption: is not saying it was aliens...but it was aliens.
---
<!-- /.carousel -->
<div class="container marketing">    
    {% include project_info.html name="Void Attackers" status="Completed" date="May 2013" %}
    
    <span class="label label-success">Java</span>
    <span class="label label-info">JSON</span>
    <span class="label label-danger">Core</span>
    <span class="label label-danger">LWJGL</span>
    <span class="label label-danger">jackson</span>
    
    <br />
    <br />
    
    
    {% include carousel_start.html id="screenshots" numadditionalslides="2" %}
    {% include carousel_item.html imgsrc="images/project-coreva-1.png" isactive="active" %}
    {% include carousel_item.html imgsrc="images/project-coreva-2.png" %}
    {% include carousel_item.html imgsrc="images/project-coreva-3.png" %}
    {% include carousel_end.html  id="screenshots" numslides="3"%}
    
    <hr class="hr-small">
    
    <div class="row">
    {% include link_github.html link="https://github.com/JGefroh/core-void-attackers" %}
    </div>
    <hr class="hr-small">
    
	<p>I made this version of the arcade game Space Invaders in parallel
	with my other project, <a href="core.html">Core</a>.
	</p>
	
	<p>This game was initially intended to demonstrate rendering code and collision
	checking, but eventually turned into a full blown implementation of
	Space Invaders.
	</p>
	
	<p>It showed me exactly how a game would be implemented using my framework, 
	which was a great learning experience. The program itself is not 
	very polished, but at least I don't have to spend quarters to play
	Space Invaders anymore!
	</p>

</div>