html {
    overflow-y: scroll;
}
/*Prevents Navigation Bar from overlapping content*/
body {
    padding-top: 50px;
}

.keyword {
    font-weight: bold;
}

.resume-section-header {
    border-bottom: 1px solid gray;
}
.project-thumbnail {
    margin-top: 1em;
}

.thumbnail-name {
    font-weight: bold;
}

.thumbnail {
    margin-bottom: 0.25em;
}

.thumbnail:hover {
    border: 1px blue solid;
}


.popover {
    border: 1px gray solid;
}

.small-hr {
    margin: 0.25em;
}

/* Bavugatuib ('Navigation')
-------------------------------------------------- */

.navigation {
    color: white;
}

.navigationActive {
    border-bottom: 1px solid red;
}


/* Splash
-------------------------------------------------- */
.splash-jumbotron {
    background: url('../images/bg.png');
    background-color: #0C1021;
    color: white;
}

.splash-content {
    font-size: 1.2em;
}

.splash-column-header {
}

/* Blog Styles
-------------------------------------------------- */
.blog-post {
    font-size: 1.2em;
}

.blog-post-selected {
    background-color: rgb(222, 250, 165);
}
/*
-------------------------------------------------- */

.stackable {
    margin-bottom: 0.5em;
}



/* Project badge styles
-------------------------------------------------- */

.badge-personal {
    background-color: blue;
}
.badge-production {
    background-color: green;
}

.badge-cancelled {
    background-color: red;
}

.badge-school {
    background-color: #269abc;
}

.badge-completed {
    background-color: green;
}

.badge-language {
    background-color: green;
}

.badge-framework {
    background-color: red;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
}