<!-- Carousel
    ================================================== -->

<div id="{{ include.id }}" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	    {% for num in (0....include.numadditionalslides) %}
	        {% if forloop.index0 == 0 %}
                <li data-target="#{{ include.id }}" data-slide-to="{{forloop.index0}}" class="active"></li>
            {% else %}
                 <li data-target="#{{ include.id }}" data-slide-to="{{forloop.index0}}"></li>
            {% endif %}
	    {% endfor %}
	</ol>
	<div class="carousel-inner">