<footer class="footer">
  <div class="footer-content">
    <div class="summary">
      <div class="wrapper">
        <img src="{{ site.baseurl }}/images/photo-self-min.jpg"></img>
        <div>
          <p>
            <span class="highlight">Joseph Gefroh</span> is a full-stack software engineer specializing in team leadership.
          </p>
          <p>
            He's successfully led remote and co-located teams of 2 to 7 members on multiple software
            projects in both startup and enterprise environments.
          </p>
          <p>
            In his spare time he enjoys reads about engineering management, building side projects to learn new technologies,
            and teaching others the various tricks he's picked up over his career.
          </p>
          <p>
            He's not a fan of speaking in third-person.
          </p>
        </div>
      </div>
    </div>
    <div class="tidbit">
      &nbsp;
    </div>
    <div class="links">
      <label>Contact me</label>
      <p>
        <a href="https://github.com/jgefroh"><span class="fa fa-fw fa-github"></span>Github</a>
        <a href="https://linkedin.com/in/jgefroh"><span class="fa fa-fw fa-linkedin"></span>LinkedIn</a>
        <a href="https://twitter.com/jgefroh"><span class="fa fa-fw fa-twitter"></span>Twitter</a>
        <a href="mailto:joseph.gefroh@gmail.com"><span class="fa fa-fw fa-envelope"></span>Email</a>
      </p>
    </div>
  </div>
</footer>
