<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title %}
  <title>{{ page.title }} | Joseph Gefroh</title>
{% else %}
  <title>Joseph Gefroh | Software Engineering Leadership</title>
{% endif %}

<meta property="og:url"         content="http://jgefroh.com" />
<meta property="og:site_name"   content="Joseph Gefroh" />
<meta property="og:title"       content="Joseph Gefroh" />
<meta property="og:type"        content="website" />
<meta property="og:description" content="Joseph Gefroh is a full-stack software engineer and team lead in Honolulu, Hawaii." />

<!--Twitter Metadata-->
<meta name="twitter:site" content="http://jgefroh.com" />
<meta name="twitter:title" content="Joseph Gefroh" />
<meta name="twitter:description" content="Joseph Gefroh is a full-stack software engineer and team lead in Honolulu, Hawaii." />
<meta name="twitter:card" content="summary" />
