<p>
  <section class="header">
        <a href="/" class="main-photo">
          <img src="{{ site.baseurl }}/images/photos/photo-joseph.jpg" alt="Photo of Joseph Gefroh" class="photo"></img>
        </a>
        <br/><br/>
        <h1 style="margin-top: 0;">Joseph Gefroh</h1>
        <span class="subtext-2">Seattle, Washington</span>
        <br/>
        <br/>
        <span class="subtext">I build great teams and cool software.</span>
        <br/><br/>
        
        <ul class="links">
          <li><a href="mailto:joseph.gefroh@gmail.com">Email</a></li>
          <li><a href="https://linkedin.com/in/jgefroh">LinkedIn</a></li>
          <li><a href="https://github.com/jgefroh">Github</a></li>
          <li><a href="{{ site.baseurl }}/documents/joseph-gefroh-resume.pdf">Resume</a></li>
          <li><a href="https://medium.com/@jgefroh">Blog</a></li>
        </ul>
  </section>
</p>
