<section class="page-section">
  <section class="jobs-section">
    <section class="job-listings">
      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="https://snap-raise.com/" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-snap-raise.jpg" class="thumbnail" alt="Go to Snap! Raise's website"></img>
          </a>
          <a href="https://snap-raise.com/" class="thumbnail-link" target="_blank" rel="noopener">Snap! Raise (Snap! Mobile)</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Engineering Manager</div>
            <div class="with-timeline">
              <span class="secondary-heading">Aug. 2018 - Present</span>
              <hr>
              <p class="description-text">Led multiple engineering teams in developing donation platforms and team fundraising solutions using VueJS, Ruby on Rails, MySQL, Heroku.</p>
            </div>
          </div>
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Lead Software Engineer</div>
            <div class="without-timeline">
              <span class="secondary-heading">Jun. 2018 - Aug. 2018</span>
              <hr>
              <p class="description-text">Led front-end engineering team in developing design patterns, front-end web interfaces, and reusable libraries using Vue.js, Ruby on Rails.</p>
            </div>
          </div>
        </div>
      </section>


      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="http://amploadvance.com/" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-snap-advance.jpg" class="thumbnail" alt="Go to Snap! Advance's website"></img>
          </a>
          <a href="http://amploadvance.com/" class="thumbnail-link" target="_blank" rel="noopener">Snap! Advance (Snap! Mobile)</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Director of Engineering</div>
            <div class="without-timeline">
              <span class="secondary-heading">Nov. 2017 - Jun. 2018</span>
              <hr>
              <p class="description-text">Led engineering team of 4 in building university giving day platform using Ruby on Rails, React, EmberJS, MongoDB, Heroku.</p>
            </div>
          </div>
        </div>
      </section>



      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="http://jumpsuitcommerce.com" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-donorzen.jpg" class="thumbnail" alt="Go to Jumpsuit Commerce's website"></img>
          </a>
          <a href="http://jumpsuitcommerce.com" class="thumbnail-link" target="_blank" rel="noopener">Jumpsuit Commerce</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Advisor</div>
            <div class="with-timeline">
              <span class="secondary-heading">Sep. 2017 - Jan. 2018</span>
              <hr>
              <p class="description-text">Advised CEO and engineering team on technical direction and management issues.</p>
            </div>
          </div>
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Director of Engineering</div>
            <div class="with-timeline">
              <span class="secondary-heading">Sep. 2016 - Sep. 2017</span>
              <hr>
              <p class="description-text">Directed engineering team at company in building credit card processing and payments solutions using AngularJS, Ruby on Rails.</p>
            </div>
          </div>
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Senior Front-end Developer</div>
            <div class="without-timeline">
              <span class="secondary-heading">Sep. 2016 - Sep. 2016</span>
              <hr>
              <p class="description-text">Rescued failing project on the verge of shutting down the company, rebuilt and relaunched within 1 month.</p>
            </div>
          </div>
        </div>
      </section>


      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="https://draftfantasyfootball.co.uk/" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-draft.jpg" class="thumbnail" alt="Go to Draft Fantasy's website"></img>
          </a>
          <a href="https://draftfantasyfootball.co.uk/" class="thumbnail-link" target="_blank" rel="noopener">Draft Fantasy</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Advisor</div>
            <div class="with-timeline">
              <span class="secondary-heading">Jan. 2017 - Jan. 2018</span>
              <hr>
              <p class="description-text">Advised the CEO on engineering management issues and the development and execution of software engineering plans.</p>
            </div>
          </div>
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Investor</div>
            <div class="without-timeline">
              <span class="secondary-heading">Jan. 2017 - Jan. 2017</span>
              <hr>
              <p class="description-text">Seed round investor.</p>
            </div>
          </div>
        </div>
      </section>


      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="https://hicapacity.org" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-hicapacity.jpg" class="thumbnail" alt="Go to HICapacity's website"></img>
          </a>
          <a href="https://hicapacity.org" class="thumbnail-link" target="_blank" rel="noopener">HICapacity</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Member of the Board of Directors</div>
            <div class="without-timeline">
              <span class="secondary-heading">Jan. 2017 - Present</span>
              <hr>
              <p class="description-text">Working with stakeholders to become a non-profit organization. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
          </div>
        </div>
      </section>



      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="https://hnl.io" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-hnlio.jpg" class="thumbnail" alt="Go to HNL.io's website"></img>
          </a>
          <a href="https://hnl.io" class="thumbnail-link" target="_blank" rel="noopener">HNL.io</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Co-founder / CTO</div>
            <div class="without-timeline">
              <span class="secondary-heading">Aug. 2015 - Aug. 2017</span>
              <hr>
              <p class="description-text">
                Led engineering team of 3 in day-to-day development of event and group platform using Ruby on Rails and AngularJS, and handled the company's day-to-day operations.
              </p>
            </div>
          </div>
        </div>
      </section>


      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="https://play.google.com/store/apps/details?id=com.hikealoha.app&hl=en" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-hikealoha.jpg" class="thumbnail" alt="Go to Hike Aloha's download page"></img>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.hikealoha.app&hl=en" class="thumbnail-link" target="_blank" rel="noopener">Hike Aloha</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Advisor</div>
            <div class="without-timeline">
              <span class="secondary-heading">Jan. 2015 - Jan. 2016</span>
              <hr>
              <p class="description-text">
                Advised founder on engineering management issues and the development and execution of software engineering plans.
              </p>
            </div>
          </div>
        </div>
      </section>



      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="http://eworldes.com" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-eworldes.jpg" class="thumbnail" alt="Go to eWorld Enterprise Solutions' website"></img>
          </a>
          <a href="http://eworldes.com" class="thumbnail-link" target="_blank" rel="noopener">eWorld Enterprise Solutions</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Tech Lead</div>
            <div class="without-timeline">
              <span class="secondary-heading">Aug. 2013 - Aug. 2015</span>
              <hr>
              <p class="description-text">
                Led multiple teams in building high-value software projects, includinginternal frameworks, document workflow engines, timesheet routing software, reusable authorization engines, and other enterprise software.
              </p>
            </div>
          </div>
        </div>
      </section>



      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="https://hpu.edu" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-hpu.jpg" class="thumbnail" alt="Go to Hawaii Pacific University's website"></img>
          </a>
          <a href="https://hpu.edu" class="thumbnail-link" target="_blank" rel="noopener">Hawaii Pacific University</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">IT Technician</div>
            <div class="without-timeline">
              <span class="secondary-heading">Jan. 2011 - Feb. 2013</span>
              <hr>
              <p class="description-text">Resolved 1000+ hardware, software, and networking issues at a university in a customer-facing role.</p>
            </div>
          </div>
        </div>
      </section>


      <!--Job Listing-->
      <section class="job-listing">
        <div class="thumbnail-wrapper">
          <a href="https://hpu.edu" target="_blank" rel="noopener">
            <img src="{{ site.baseurl }}/images/logos/logo-hpu.jpg" class="thumbnail" alt="Go to Hawaii Pacific University's website"></img>
          </a>
          <a href="https://hpu.edu" class="thumbnail-link" target="_blank" rel="noopener">Hawaii Pacific University</a>
        </div>
        <div class="descriptions">
          <div class="description-wrapper">
            <div class="primary-heading timeline-point">Bachelor of Science in Computer Science</div>
            <div class="without-timeline">
              <span class="secondary-heading">Graduated 2012</span>
              <hr>
              <p class="description-text">3.99 GPA out of 4.00 GPA</p>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="job-images">
      <img src="{{ site.baseurl }}/images/photos/photo-job-3.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-2.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-0.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-9.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-4.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-5.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-8.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-10.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-7.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-6.jpg"></img>
      <img src="{{ site.baseurl }}/images/photos/photo-job-11.jpg"></img>
    </section>
  </section>
</section>
