<div class="project-wrapper">
  <a href="{{ project.url }}">
    <div class="image-wrapper">
      <img src="{{ site.baseurl }}/{{project.thumbnail}}"></img>
    </div>
    <div class="description">
      <span class="bg-cta">{{project.title}}</span>

      {% for technology in project.technologies %}
        <span class="technology">
          {{technology}}{% unless forloop.last %},{% endunless %}
        </span>
      {% endfor %}
      <span class="bottom-cta">View Info</span>
    </div>
  </a>
</div>
