<div class="page-section">
  <div class="header">See what people say about me</div>
  <section class="recommendation-section">
  {% assign recommendations = site.recommendations | sort:"order"%}
  {% for recommendation in recommendations limit: 20 %}
    <div class="recommendation-wrapper">
      <span class="quote-mark">&ldquo;</span>
        {% include recommendation-listing.html recommendation=recommendation%}
      <!-- {% include recommendation-listing.html recommendation=site.recommendations.first %} -->

    </div>
    {% endfor %}
    
  </section>
</div>
