<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img class="img-circle img-responsive center-block" src="resources/images/photo-self-1.png" />
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>Hi, I'm Joseph Gefroh.</h1>
                        <p>I'm a software developer in Honolulu, Hawaii.</p>
                        <a href="#/projects" class="btn btn-default btn-lg stackable"><span class="fa fa-folder-open"></span> See My Projects</a>
                        <a href="#/resume" class="btn btn-default btn-lg stackable"><span class="fa fa-briefcase"></span> See My Resume</a>
                        <a href="#/contact" class="btn btn-success btn-lg stackable"><span class="fa fa-envelope"></span> Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-ng-if="project">
        <div class="col-xs-12">
            <div class="jumbotron text-center">
                <h2> {{ project.name }} <br/>
                    <span class="small"> {{ project.blurb }}</span>
                </h2>
                <div data-carousel interval="3000">
                    <div data-slide
                         data-ng-repeat="image in project.images" style="overflow: hidden;"
                         data-ng-if="!image.isThumbnail">
                        <img data-ng-src="{{ baseImagePath + image.url }}">
                    </div>
                </div>
                <br/>
                <button data-ng-click="showProject(project)" class="btn btn-primary btn-lg stackable"><span class="fa fa-eye"></span> View Project</button>
            </div>
        </div>
    </div>
</div>


