@import "variables";
@import "listing";


html {
  font-family: 'Roboto';
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

* {
}

p {
 font-family: 'Droid Serif';
 line-height: 1.5rem;
 font-weight: 200;
 color: $color-text-normal;
 font-size: 1rem;
}

.main-content {
  text-align: center;
}


.header {
  text-align: center;
  font-size: 1.5rem;
  .subtext {
    color: $color-subtle-text;
    font-size: 1.25rem;
  }
  h1 {
    margin-bottom: 0.75rem;
  }
  img {
    border-radius: 50%;
    width: 7.5rem;
    border: 3px solid white;
    box-shadow: 0 0 3px $color-subtle-text;
  }
}
