.post {
  @include span-columns(8);
  label {
    display: block;
  }

  label {
    font-weight: bold;
    color: $color-light-grey;
  }

  .header {
    margin-top: 3rem;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: $color-light-grey;
  }
}

.post-listing {
  .post-title {
    font-size: 1.5rem;
  }
}

.reference-link {
}
.reference {
  display: block;
}

.post-reference {
}
.post-footer {
  font-size: 0.8rem;
  margin-top: 5rem;
  .reference-id {
    font-weight: bold;
  }
}
pre {
  padding: 0.5rem;
  border: 1px $color-light-grey solid;
  border-radius: 5px;
  background-color: $color-ultra-light-grey;
  overflow: auto;
  font-family: 'Courier';
  font-size: 0.8rem;
  color: $color-dark-bg;
}

code {
  background-color: #F9F2F4;
  color: #C7385D;
  padding: 0 0.25rem;
  font-family: 'Courier';
}
