.browser {
  padding: 20px 0 0;
  border-radius: 3px;
  border-bottom: 2px solid #ccc;
  background: #ddd;
  display: inline-block;
  position: relative;
  line-height: 0;
  img {
    width: 100%;
    border-width: 0 1px 0 1px;
    border-color: #dadada;
    border-style: solid;
  }
  .frame {
    display: block;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 1px;

    span {
        height: 8px;
        width: 8px;
        border-radius: 8px;
        background-color: #eee;
        border: 1px solid #dadada;
        float: left;
        margin: 0 0 0 4px;
    }


    .close {
      background-color: #F47A22;
    }
    .minimize {
      background-color: #EAC637;
    }
    .maximize {
      background-color: #39B940;
    }
  }
}
