.recommendation-section {
  margin-top: 2.5rem;
  a {
    color: $font-color-3;
    text-decoration: none;
  }

  .highlight {
    font-weight: bold;
  }

  .recommendation-wrapper {
    padding: 1rem;
    position: relative;

    .quote-mark {
      color: $font-color-1;
      font-size: 10rem;
      left: 2rem;
      position: absolute;
      top: 2.5rem;
    }

  }

  .recommendation-listing {
    clear: both;
    margin: 0 auto;
    width: 80%;
    .recommendation-text {
    }

    .recommendation-citation {
      text-align: right;
      .recommendation-author {
        display: inline-block;
        margin-right: 1.5rem;
        text-align: right;
        .recommendation-author-details {
          .recommendation-author-details-role { }
          .recommendation-author-details-company { }
        }
      }

      .recommendation-logo-wrapper {
          display: inline-block;
          vertical-align: middle;

          .recommendation-logo {
            border-radius: 50%;
          }
        }
      }
    }
}
