.testimonial {
  @include span-columns(12);
  .thumbnail {
    border-radius: 50%;
    @include span-columns(3);
    @include media($tiny) {
      @include span-columns(6);
      @include shift(3);
      margin-bottom: 1rem;
    }
  }

  .quote-wrapper-with-thumbnail {
    @include span-columns(7);
    @include media($tiny) {
      @include span-columns(12);
    }
    margin-top: 0;
  }

  .quote {
    display: block;
  }
  .quote-mark {
    color: $color-grey;
    font-size: 2rem;
    position: absolute;
    opacity: 0.3;
  }
  .quote-mark-left {
    margin-left: -1rem;
    margin-top: -1rem;
  }
  .quote-mark-right {
    right: 0;
  }
}

.testimonial-listing {
  margin-top: 2rem;
  position: relative;
  .thumbnail {
    border-radius: 50%;
    @include span-columns(3);
  }
  .quote-wrapper {
    @include span-columns(8);
    @include shift(2);
    margin-top: 0;
  }

  .quote-wrapper-with-thumbnail {
    @include span-columns(8);
    margin-top: 0;
  }

  .quote {
    display: block;
  }

  .author-name {
    font-weight: bold;
    display: block;
  }

  .author-work {
  }

  .quote-mark {
    color: $color-grey;
    font-size: 2rem;
    position: absolute;
    opacity: 0.3;
  }
  .quote-mark-left {
    margin-left: -1rem;
    margin-top: -1rem;
  }
  .quote-mark-right {
    right: 0;
  }
}
