$font-size-base: 100%;
$font-color-3: #5B5B5B;
$font-color-1: rgba(0,0,0,0.2);
$line-height-base: 16px;

$color-primary-3: #009A17;

$color-white-3: #FFFFFF;

$timeline-margin-left: 2rem;
$timeline-color: #E3E3E3;
