
$color-subtle-text: #737373;
$color-link-hover: #47ac50;
$color-text-normal: #58595b;
$color-alert-background: #B853AF;
$color-alert-text: white;
$color-link: #47ac50;

$timeline-margin-left: 2rem;
$timeline-color: #E3E3E3;
