.post-listing {
  @include media($mobile) {
    @include span-columns(12);
  }
  @include media($desktop) {
    @include shift(3);
    @include span-columns(6);
  }
  .date {
    float: right;
  }
  &.complete {
    text-align: center;
    padding: 2rem;
    .title {
      font-size: 1.75rem;
    }
    .date {
      display: block;
      float:none;
      color: $color-subtle;
    }
    .more {
      display: block;
    }
  }
}

.post {

  .header {
    padding: 2rem 0;
  }

  h1, h2, h3, h4, h5 {
    font-size: 2rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .date {
  }


  label {
    display: block;
    font-weight: bold;
    margin-top: 2rem;
  }

  .post-footer {
    margin-top: 4rem;
    .reference {
      font-size: 0.8rem;
      display: block;
      .reference-id {
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }
}
