<div class="project">
  <div class="image">
      <img data-ng-src="{{ vm.baseImagePath + (vm.project.images | filter:{isThumbnail: true})[0].url }}">
  </div>
  <div class="text">
      <h3 style="margin-bottom: 0rem;">
          <span data-ng-bind="vm.project.name"></span>
      </h3>
      <p data-ng-bind="vm.project.blurb" class="project-blurb"></p>
      <p>
          <a data-ng-if="vm.project.liveLink"
             data-ng-href="{{ vm.project.liveLink }}"
             class="button"
             title="View a demo of this vm.project.">
            <button class="small green">
              <span class="fa fa-lg fa-desktop"></span> View Demo
            </button>
          </a>
          <a data-ng-if="vm.project.downloadLink"
             data-ng-href="{{ vm.project.downloadLink }}"
             class="button"
             title="Download an executable of this vm.project.">
             <button class="small green">
              <span class="fa fa-lg fa-download"></span> Download
            </button>
          </a>
          <a data-ng-if="vm.project.sourceLink"
             data-ng-href="{{ vm.project.sourceLink }}"
             title="View this project's source code on GitHub.">
             <button class="small white">
               <span class="fa fa-lg fa-github"></span> View Source Code
             </button>
          </a>
      </p>
  </div>
</div>
