<div class="col-xs-4 text-center">
    <img data-ng-click="showProject(project)"
         class="thumbnail img-responsive img-rounded center-block"
         data-ng-src="{{ baseImagePath + (project.images | filter:{isThumbnail: true})[0].url }}"
         style="cursor: pointer;">
    <p>
        {{ project.name }}<br/>
        <a data-ng-if="project.liveLink" data-ng-href="{{ project.liveLink }}" class="btn btn-default"><span class="fa fa-lg fa-desktop"></span></a>
        <a data-ng-if="project.sourceLink" data-ng-href="{{ project.sourceLink }}" class="btn btn-default"><span class="fa fa-lg fa-github"></span></a>
    </p>
</div>