<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-3">
            <img data-ng-click="showProject(project)"
                 class="thumbnail img-responsive img-rounded center-block"
                 data-ng-src="{{ baseImagePath + (project.images | filter:{isThumbnail: true})[0].url }}"
                 style="cursor: pointer;">
        </div>
        <div class="col-xs-9">
            <h3 style="margin-top: 0.5em;">
                <a data-ng-click="showProject(project)"
                   data-ng-bind="project.name"
                   style="cursor: pointer;"></a>
            </h3>
            <p data-ng-bind="project.blurb"></p>
            <p>
                <a data-ng-if="project.liveLink"
                   data-ng-href="{{ project.liveLink }}"
                   class="btn btn-default"
                   title="View a demo of this project.">
                    <span class="fa fa-lg fa-desktop"></span> View Demo
                </a>
                <a data-ng-if="project.downloadLink"
                   data-ng-href="{{ project.downloadLink }}"
                   class="btn btn-default"
                   title="Download an executable of this project.">
                    <span class="fa fa-lg fa-download"></span> Download
                </a>
                <a data-ng-if="project.sourceLink"
                   data-ng-href="{{ project.sourceLink }}"
                   class="btn btn-default"
                   title="View this project's source code on GitHub.">
                    <span class="fa fa-lg fa-github"></span> View Source Code
                </a>
            </p>
        </div>
    </div>
</div>