<div class="container">
    <h1>Projects</h1>
    <hr>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn stackable" data-ng-class="currentFilter.tag === null ? 'btn-primary active' : 'btn-default'" data-ng-click="setTag(null)">All</button>
            <button class="btn stackable" data-ng-class="currentFilter.tag === 'web' ? 'btn-primary active' : 'btn-default'" data-ng-click="setTag('web')">Websites / Web Applications</button>
            <button class="btn stackable" data-ng-class="currentFilter.tag === 'api' ? 'btn-primary active' : 'btn-default'" data-ng-click="setTag('api')">APIs / Frameworks</button>
            <button class="btn stackable" data-ng-class="currentFilter.tag === 'desktop' ? 'btn-primary active' : 'btn-default'" data-ng-click="setTag('desktop')">Desktop Applications</button>
            <button class="btn stackable" data-ng-class="currentFilter.tag === 'other' ? 'btn-primary active' : 'btn-default'" data-ng-click="setTag('other')">Other</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Showing {{ (projects | filter: tagFilter).length }} of {{ projects.length }} projects.</p>
        </div>
    </div>
    <div class="row">
        <div data-ng-repeat="project in projects | orderBy: 'order' | filter: tagFilter">
            <div data-project-card
                 data-project="project">
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
    </div>
</div>