<div class="list-group" data-collapse-others="true">
    <a class="list-group-item" data-ng-class="{'active':isShowingSection('front-end')}" data-ng-click="showSection('front-end')" style="cursor:pointer;">
        <h4 class="list-group-item-heading">Front-End</h4>
        <p class="list-group-item-text">The user interface - what the users see, interact with, and comment on the most.</p>
    </a>
    <a class="list-group-item" data-ng-class="{'active':isShowingSection('web-services')}" data-ng-click="showSection('web-services')" style="cursor:pointer;">
        <h4 class="list-group-item-heading">Web Services</h4>
        <p class="list-group-item-text">The entrance to the server side for the front-end and potentially other applications.</p>
    </a>
    <a class="list-group-item" data-ng-class="{'active':isShowingSection('business-logic')}" data-ng-click="showSection('business-logic')" style="cursor:pointer;">
        <h4 class="list-group-item-heading">Business Logic</h4>
        <p class="list-group-item-text">The business rules that govern the application's operations are stored here.</p>
    </a>
    <a class="list-group-item" data-ng-class="{'active':isShowingSection('data-access')}" data-ng-click="showSection('data-access')" style="cursor:pointer;">
        <h4 class="list-group-item-heading">Data Access</h4>
        <p class="list-group-item-text">Provides a unified interface to access the data regardless of where it is held.</p>
    </a>
    <a class="list-group-item" data-ng-class="{'active':isShowingSection('data-storage')}" data-ng-click="showSection('data-storage')" style="cursor:pointer;">
        <h4 class="list-group-item-heading">Data Storage</h4>
        <p class="list-group-item-text">The place your data is stored.</p>
    </a>
</div>