$color-primary-3: #FFBA49;
$color-primary-3-close: #FFE6BF;
$color-primary-4: #3C787E;


$color-primary-black: #1F1F1F;
$color-primary-white: #FCFCFC;
$color-primary-grey: #B5B5B5;
$color-primary-grey-dark: #727272;
$color-primary-red: #AD343E;
$color-primary-blue: #3C787E;
$color-primary-blue-close: #85C7F2;
$color-primary-blue-opposite: $color-primary-red;


$color-background-code: #F3F3F3;
$color-body-text: $color-primary-black;
$color-background: $color-primary-white;
$color-body-text-inverse: $color-primary-grey;
$color-subtle: $color-primary-grey;
$color-body-text-inverse-highlight: #E0E0E2;
$color-link: $color-primary-blue;
$color-link-hover: $color-primary-blue-close;
$color-link-visited: $color-link;

$font: "Roboto", sans-serif;
$font-base-size: 18px;
$modular-scale-ratio: $golden;
